<div class="list">
  <div class="list__item-wrapper" *ngFor="let joke of jokes | paginate: { itemsPerPage: apiResponse?.perPage, currentPage: apiResponse?.currentPage, totalItems: apiResponse?.totalItems }; let i = index">
    <app-list-item
      [joke]="joke"
      [likedJoke]="likedJokes.includes(joke.id!!)"
      [userJoke]="userJokes.includes(joke.id!!)"
      (copyJoke)="copyJoke($event)"
      (likeJoke)="likeJoke($event)"
      (deleteJoke)="deleteJoke($event)"
    ></app-list-item>
  </div>
</div>

<!-- Pagination -->
<div *ngIf="apiResponse && apiResponse.totalPages > 1" class="pagination">
  <pagination-template #p="paginationApi" (pageChange)="onPaginationChange($event)">
    <div class="pagination__content">
      <div class="pagination__previous" [ngClass]="{'pagination__previous--disabled': p.isFirstPage()}">
        <a (click)="p.previous()"> < </a>
      </div>

      <div *ngFor="let page of p.pages" class="pagination__page-selector" [ngClass]="{'pagination__page-selector--current': p.getCurrent() === page.value}">
        <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
          <span>{{ page.label }}</span>
        </a>
        <div *ngIf="p.getCurrent() === page.value">
          <span>{{ page.label }}</span>
        </div>
      </div>

      <div class="pagination__next" [ngClass]="{'pagination__next--disabled': p.isLastPage()}">
        <a (click)="p.next()"> > </a>
      </div>
    </div>
  </pagination-template>
</div>

<!-- Empty State -->
<div *ngIf="!apiResponse || apiResponse.data.length === 0" class="empty-state">
  <h3>There are no joke to show</h3>
  <div class="empty-state__button-wrapper">
    <ui-button
      [color]="'cta'"
      [title]="'Try getting all jokes again'"
      [centered]="true"
      (onClick)="getAllJokesEmit()"
    >Try Getting All Jokes Again</ui-button>
  </div>
</div>
