<div class="list">
  <div class="list__item-wrapper" *ngFor="let joke of jokes | paginate: { itemsPerPage: apiResponse?.perPage, currentPage: apiResponse?.currentPage, totalItems: apiResponse?.totalItems }; let i = index">
    <div class="list__item-wrapper__item">
      <div class="list__item-wrapper__item__header">
        <button title="Copy joke" (click)="copyJokeEmit(joke.setup, joke.punchline)" class="list__item-wrapper__item__header__copy-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
            <path d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"/>
          </svg>
        </button>
      </div>
      <div class="list__item-wrapper__item__joke">
        <p>- {{ joke.setup }}</p>
        <p>- {{ joke.punchline }}</p>
      </div>
      <div class="list__item-wrapper__item__joke__footer">
        <span [ngClass]="'list__item-wrapper__item__joke__footer__type--' + joke.type" class="list__item-wrapper__item__joke__footer__type">{{ joke.type | titlecase }}</span>
        <div class="list__item-wrapper__item__joke__like-button">
          <ui-button
            [color]="'empty'"
            (onClick)="likeJokeEmit(joke.id!!)"
          >
            <div class="list__item-wrapper__item__joke__like-button__content">
              <span>{{ joke.likes || 0 }}</span>
              <ng-container *ngIf="!likedJokes.includes(joke.id!!)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                  <path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"/>
                </svg>
              </ng-container>
              <ng-container *ngIf="likedJokes.includes(joke.id!!)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                  <path d="M720-120H320v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h218q32 0 56 24t24 56v80q0 7-1.5 15t-4.5 15L794-168q-9 20-30 34t-44 14ZM240-640v520H80v-520h160Z"/>
                </svg>
              </ng-container>
            </div>
          </ui-button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="apiResponse && apiResponse.totalPages > 1" class="pagination">
  <pagination-template #p="paginationApi" (pageChange)="onPaginationChange($event)">
    <div class="pagination__content">
      <div class="pagination__previous" [ngClass]="{'pagination__previous--disabled': p.isFirstPage()}">
        <a (click)="p.previous()"> < </a>
      </div>

      <div *ngFor="let page of p.pages" class="pagination__page-selector" [ngClass]="{'pagination__page-selector--current': p.getCurrent() === page.value}">
        <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
          <span>{{ page.label }}</span>
        </a>
        <div *ngIf="p.getCurrent() === page.value">
          <span>{{ page.label }}</span>
        </div>
      </div>

      <div class="pagination__next" [ngClass]="{'pagination__next--disabled': p.isLastPage()}">
        <a (click)="p.next()"> > </a>
      </div>
    </div>
  </pagination-template>
</div>
