<div class="jokes">
  <!-- Header -->
  <app-jokes-header
    [sort]="sort"
    (getRandomJoke)="getRandomJoke()"
    (getAllJokes)="getAllJokes()"
    (createJoke)="createJoke()"
    (sortChange)="onSortChange($event)"
  ></app-jokes-header>
  <!-- List -->
  <app-list
    [apiResponse]="apiResponse"
    [likedJokes]="likedJokes"
    (onPageChange)="onPageChange($event)"
    (copyJoke)="copyJoke($event)"
    (likeJoke)="likeJoke($event)"
  ></app-list>
</div>

<!-- New Joke Dialog -->
<div *ngIf="openNewJokeDialog" class="create-joke-dialog-wrapper">
  <app-create-joke-dialog
    (cancel)="cancelNewJoke()"
    (save)="saveNewJoke($event)"
  ></app-create-joke-dialog>
</div>
