.jokes {
  &__filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    overflow-x: auto;

    &__button-wrapper {
      margin-right: 24px;

      &__content {
        display: flex;
        align-items: center;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  margin-left: 16px;
  transition: all 0.15s ease-in-out;

  &--rotate {
    transform: rotate(180deg);
  }
}
