.button {
  font-size: 16px;
  padding: 6px 20px;
  background-color: #3c3d4a;
  border-radius: 16px;
  width: 100%;

  &--secondary {
    background-color: #44475d;
  }

  &--tertiary {
    border: 1px solid #ffffff;
    background-color: transparent;
  }

  &--cta {
    border-radius: 6px;
    background-color: #ffffff;
    color: #3c3d4a;
  }

  &--empty {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }

  &--centered {
    display: flex;
    justify-content: center;
  }

  &:disabled {
    background-color: #a1a1a1;
    cursor: not-allowed;
  }
}
